@import url(http://openfontlibrary.org/face/tehuti);
html { 
  background:  url("assets/Untitled-2.gif") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
body {
    height: 100%;
}

.header {
    width: 50%;
    height: 25%;
    margin: 0 auto;
    white-space: normal;
}
.header h1{
    font-family: 'Tehuti';
    font-size: 5vh;
    color: rgba(0,0,0, 0.3);
    text-align: center;
    margin: 0px;
    padding: 0px; 
}
.header img {
    max-width: 65%;
    max-height: 45%;
    display: block;
    margin: 0 auto;
    padding: 0 0 0 55px;
}

.header h2{
    font-family: 'Tehuti';
    font-size: 5vh;
    color: rgba(0,0,0, 0.3);
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.navbar {
    margin: auto 0;
    position: relative;
    top: -30px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.navbar li {
    display: inline-block;
}
.navbar li a {
    display: inline;
    color: #544738;
    text-decoration: none;
    float: center;
    font-size: 3vh;
    padding: 12px;
}

.navbar li a:hover {
    color: #7eb9be;
}

.main-content {
    margin: auto;
    padding: 0;
    width: 50%;
    background-color: rgba(151, 147, 144, 0.4);
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.main-content p {
    margin: 0;
    padding: 0;
}